.page {
  width: 100%;
  height: 100%;
  left: 100px;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 60px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  height: 90%;
  will-change: contents;
  min-height: 556px;
  z-index: 1;
  top: 5%;
  position: absolute;
  opacity: 0;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.about-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    display: table-cell;
    vertical-align: middle;
    max-height: 90%;
    overflow: scroll;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin: 20px;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 0px;
        left: -25px;
        opacity: 0.6px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 70px;
        left: -25px;
        opacity: 0.3px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
    p {
      font-family: sans-serif;
      font-weight: 300;
      animation: pulse 1s;
      font-size: 15px;
      color: #fff;
      min-width: fit-content;
      text-align: left;
      margin: 20px;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.4s;
      }
      &:nth-of-type(5) {
        animation-delay: 1.5s;
      }
      &:nth-of-type(6) {
        animation-delay: 1.6s;
      }
      &:nth-of-type(7) {
        animation-delay: 1.7s;
      }

      span {
        color: #ffd700;
      }
    }
  }
}

.portfolio-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 0px;
        left: -25px;
        opacity: 0.6px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 70px;
        left: -25px;
        opacity: 0.3px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
    p {
      font-family: sans-serif;
      font-weight: 300;
      animation: pulse 1s;
      font-size: 15px;
      color: #fff;
      min-width: fit-content;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.4s;
      }
    }
  }
}

.portfolio-page {
  .stage {
    overflow: scroll;
  }
}
