.logo-container {
  z-index: 0;
  width: 350px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: auto;
  transform: rotateZ(26deg);

  &:hover {
    .solid-logo {
      animation: pulse 1s;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .solid-logo {
    display: none;
  }
}
