.nav-bar {
  background: #181818;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      width: 80px;
      height: auto;
      margin: 8px auto;
    }
  }
}

nav {
  display: block;
  position: absolute;
  text-align: center;
  height: 210px;
  top: 50%;
  margin-top: -120px;
  width: 100%;

  a {
    font-size: 50px;
    color: #4d4d4e;
    display: block;
    line-height: 100px;
    height: 100px;
    position: relative;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    //so when hovering
    &:hover {
      color: #ffd700;

      //set the svg to zero
      svg {
        opacity: 0;
      }

      // and after - set opacity back to 1
      &::after {
        opacity: 1;
      }
    }

    //now we are going to determine what elelemtns are "after" and what happens to them "after"
    &:after {
      content: '';
      font-size: 22px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      opacity: 0;
      transition: all 03s ease-out;
    }
    &:first-child {
      &::after {
        content: 'Home';
      }
    }
  }
  a.about-link {
    &:after {
      content: 'About';
    }
  }

  a.contact-link {
    &:after {
      content: 'Contact';
      font-size: 20px;
    }
  }
}
