.nav-bar {
  background: #181818;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      width: 48px;
      height: auto;
      margin: 8px auto;
    }
  }
}

nav {
  display: block;
  position: absolute;
  text-align: center;
  height: 210px;
  top: 50%;
  margin-top: -180px;
  width: 100%;

  a {
    font-size: 48px;
    color: #ffd700;
    display: block;
    line-height: 80px;
    height: 80;
    position: relative;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    //so when hovering
    &:hover {
      color: #c4c4c4;

      //set the svg to zero
      svg {
        opacity: 0.5;
      }

      // and after - set opacity back to 1
      &::after {
        opacity: 1;
      }
    }

    //now we are going to determine what elelemtns are "after" and what happens to them "after"
    /** REmoving the hovering text effect of the button 
    &:after {
      content: '';
      font-size: 22px;
      letter-spacing: 0px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      opacity: 0;
      transition: all 03s ease-out;
    }
    &:first-child {
      &::after {
        content: 'Home';
      }
    }
    */
  }
  //targetting with classname for hover effect
  /* further removal
  a.about-link {
    &:after {
      content: 'About';
    }
  }

  a.contact-link {
    &:after {
      content: 'Portfolio';
      font-size: 19px;
    }
  }
  */
}

ul {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;

  li {
    a {
      padding: 7px 0;
      display: block;
      font-size: 26px;
      line-height: 16px;
      color: #4d4d4e;

      &:hover {
        color: #ffd700;
      }
    }
  }
}

/* Media query for small screens (e.g., phones) */
@media screen and (max-width: 600px) {
  .nav-bar {
    width: 80px;

    .logo {
      img {
        height: auto;
        width: 40px;
      }
    }
  }
  nav {
    height: 100px;
    a {
      font-size: 3rem;
      // height: 50px;
    }
  }
}
